<html>
<body>
    <h1>Help page</h1>
    <hr>
    <p>
        This website is designed to help you organize and board your buses easily, without missing them.
    </p>
    <hr>
    <h1> How to save this website as an app (ANDROID)</h1>
    <hr>
    <p>
        Firstly, go to <b>Chrome</b>, and go to the website, which you should have done already.
        Your screen should roughly look like this:
        <img src="https://github.com/nnhsse202223/busapp-2022-23/blob/main/static/img/Step1OnAndroid.jpg?raw=true">
        Click on the <b>3 vertical dots</b> that you see in the top right.
        You will then see this small menu on the top rigt of your screen:
        <img src="https://github.com/nnhsse202223/busapp-2022-23/blob/main/static/img/Step2OnAndroid.jpg?raw=true">
        Click on the option that says <b>Add to home screen</b>. After doing this, you will see this small sub menu:
        <img src="https://github.com/nnhsse202223/busapp-2022-23/blob/main/static/img/Step3OnAndroid.jpg?raw=true">
        Almost there... Just one step left!!! Finally, click <b>Add</b>. See? Nice and simple.</p>
        <p> If you now navigate to the homescreen of your Android device, you will see a small icon, similar to the app.</p>
</body>
</html>