<html>
    <!--<div class="buttons">
        <button class="button" onclick="newBus()">Add Bus</button>
        <a class="button" href="/updateBusList">Update Bus List</a>
        <a class="button" href="/">Back to hompage</a>
        <button class="button" onclick="addAdmin()">Add New Admin</button> <!--new button to redirect to whitelist page-->
    </div>
    <script>
        function addAdmin() {
          location.replace("/whitelist")
        }
    </script>-->
    <head>
     <title>Bus App - Help Page</title>
     <style>
        p {
           background-color: #a1b5be;
           font-family: 'Montserrat', sans-serif;
        }
        body {
           background-color: #a1b5be;
           font-family: 'Montserrat', sans-serif;
        }
     </style>
    </head>
<body>
    <h1>Help page</h1>
    <hr>
    <p>
        This website is designed to help you organize and board your buses easily, without missing them.
    </p>
    <hr>
    <h1> How to save this website as an app (ANDROID)</h1>
    <hr>
    <a href="/html/saveAppA.html"> yes. </a>


</body>
</html>