<html>
    </div>
        <script>
        function addAdmin() {
          location.replace("/whitelist")
        }
        </script>
    <head>
        <link rel="stylesheet" href="help.ejs">
     <title>Bus App - Help Page</title>
     <style>
        p {
           background-color: #a1b5be;
           font-family: 'Montserrat', sans-serif;
        }
        body {
           background-color: #a1b5be;
           font-family: 'Montserrat', sans-serif;
        }
     </style>
    </head>
    <body>
        <h1 class="title-thingy">Help page</h1>
    </body>
</html>