<html>
    <head>
     <title>Bus App - Help Page</title>
     <style>
        p {
           background-color: #a1b5be;
           font-family: 'Montserrat', sans-serif;
        }
        body {
           background-color: #a1b5be;
           font-family: 'Montserrat', sans-serif;
        }
     </style>
    </head>
<body>
    <h1>Help page</h1>
    <hr>
    <p>
        This website is designed to help you organize and board your buses easily, without missing them.
    </p>
    <hr>
    <h1> How to save this website as an app (ANDROID)</h1>  
    <a href="/views/helpPages/saveAppA.html">yes</a>
</body>
</html>