<html>
    <head>
        <title>Bus App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" href="/img/busAppIcon.png">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500">
        <meta name="google-signin-client_id" content="319647294384-m93pfm59lb2i07t532t09ed5165let11.apps.googleusercontent.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    </head>
    <body id="flexContainer">
        <h1>Login to edit bus information</h1>
        <div class="signin-opts">
            <button id="google-login">
                <!-- Google logo svg -->
                <div id="googleImageWrapper">
                    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <span> Sign in with Google</span>
            </button>
        </div>
        <a href="/">Back to homepage</a>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="js/auth.js"></script>
    </body>
</html>