<html>
    <head>
        <title>Bus App</title>
        <link rel="icon" type="image/x-icon" href="/img/busAppIcon.png">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="content">
            <%- include("include/indexContent") %>
        </div>
        <script src="js/ejs.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script id="getRender" render="<%= render %>" src='js/indexConnect.js'></script>
    </body>
</html>