<html>
    <head>
        <title>Bus App</title>
        <link rel="icon" type="image/x-icon" href="/img/busAppIcon.png">
    </head>
    <body>
        <h1>Unauthroized</h1>
        <a href="/">Return to home page</a>
        <a href="/login">Login with another account</a>
    </body>
</html>