
<tr class="new-admin-row">
    <td><%= newAddress %></td>
    <td class="remove-col"><i class="fas fa-times remove-xssbutton table-button" onclick="removeAdmin_admins(this.parentElement.parentElement.children[0].innerHTML.toString())"></i></td>
</tr>
    
