<tr class="new-admin-row">
    <td class="new-bus-input-cell"><input type="number" placeholder="New Bus"></td>
    <td class="remove-col"><i class="fas fa-times cancel-button table-button" onclick="removeAdmin_admins(this)"></i></td>
</tr>
