
<tr class="new-admin-row">
    <td><%= newAddress %></td>
    <td class="change-col"><i class="fas fa-times remove-xssbutton new-table-button" onclick="removeAdmin_admins(this)"></i></td>
</tr>
    
