<tr class="new-bus-row">
    <td class="new-bus-input-cell"><input type="number" placeholder="Add"></td>
    <td class="new-bus-buttons"><i class="fa-solid fa-check confirm-button table-button" onclick="addBus_busList(this)"></i></td>
</tr>