<tr class="new-bus-row">
    <td class="new-bus-input-cell"><input type="number" placeholder="New Bus"></td>
    <td class="new-bus-buttons"><i class="fas fa-times cancel-button table-button" onclick="removeBus_busList(this)"></i> <i class="fa-solid fa-check confirm-button table-button" onclick="addBus_busList(this)"></i></td>
</tr>