<form action="/submitAnnouncement" method="post">
    <text class="label">Announcement</label>
    <textarea type="text" name="announcement" class="content"><%= currentAnnouncement%></textarea>
    <div class="buttons">
        <button class="button" type="submit" onclick="clearAnnouncement()">Clear Current Announcement</button>

    </div>
    <text class="label">TV Announcement</label>
    <textarea type="text" name="tvAnnouncement" class="content"><%= currentTvAnnouncement%></textarea>
    <div class="buttonsTv">
        <button class="button" type="submit" onclick="clearTvAnnouncement()">Clear Current Announcement</button>
        <button class="button back-button" href="/admin">Back to Admin Page</a>
    </div>
</form>

<script>
    function clearAnnouncement() {
        document.getElementsByName("announcement")[0].value = "";
    }
</script>
<script>
    function clearTvAnnouncement() {
        document.getElementsByName("tvAnnouncement")[0].value = "";
    }
</script>