<form action="/submitAnnouncement" method="post">
<label class="label">Announcement</label>
<input type="text" name="announcement" class="content">
<div class="buttons">
    <button class="button" type="submit">Submit Announcement</button>
    <form action="/clearAnnouncement" method="post">
        <button class="button" type="submit">Clear Current Announcement</button>
    </form>
    <a class="button back-button" href="/admin">Back to Admin Page</a>
</div>
</form>