<form method="post" name="submitAnnouncement">
    <label class="label">Announcement <textarea class="content"></textarea></label>
        <div class="buttons">
            <button class="button">Submit Announcement</button>
        </div>
</form>

