<form action="/submitAnnouncement" method="post">
<text class="label">Announcement</label>
<textarea type="text" name="announcement" class="content"></textarea>
<div class="buttons">
    <button class="button" type="submit">Submit Announcement</button>
    <form action="/clearAnnouncement" method="post">
        <button class="button" type="submit">Clear Current Announcement</button>
    </form>
    <button class="button back-button" href="/admin">Back to Admin Page</a>
</div>
</form>