<p>
    Firstly, go to <b>Chrome</b>, and go to the website, which you should have done already.
    Your screen should roughly look like this:
    <br>
    <br>
    <img src="/img/Step1OnAndroid.jpg" width="300" height="600">
    <br>
    <br>
    Click on the <b>3 vertical dots</b> that you see in the top right.
    You will then see this small menu on the top rigt of your screen:
    <br>
    <br>
    <img src="/img/Step2OnAndroid.jpg" width="300" height="600">
    <br>
    <br>
    Click on the option that says <b>Add to home screen</b>. After doing this, you will see this small sub menu:
    <br>
    <br>
    <img src="/img/Step3OnAndroid.jpg" width="300" height="100">
    <br>
    <br>
    Almost there... Just one step left!!! Finally, click <b>Add</b>. See? Nice and simple.</p>
    <p> If you now navigate to the homescreen of your Android device, you will see a small icon.</p>