body {
    background-color: #a1b5be;
}

/* Login Button */
.header {
    display: grid;
    grid-template-columns: 7fr 5fr 6fr;
    grid-template-rows: 1fr 1fr;
    padding: 3% 5%;
    height: 7%;
}

.weather-container {
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: rgb(208, 207, 188);
    border: rgb(208, 207, 188);;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-family: 'Montserrat', sans-serif;
}

.weather-container * {
    margin: 0;
}

.weather-temperature {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 2.4vh;
}

.weather-temperature > * {
    padding: 13% 0 0;
}

.weather-status {
    grid-column: 1/2;
    grid-row: 2/3;    
    text-align: center;
    font-size: 1.5vh;
}

.weather-status > * {
    padding: 0 0 5%;
}

.weather-img {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
}

.weather-img > * {
    height: 100%;
}

.login-container {
    text-align: right;
    grid-column: 3/4;
    grid-row: 1/2;
}

.login-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 2em;
    background-color: #327fa8;
    color: #ffffff;
    padding: 4%;
}

/* Table */
.bus-table {
    margin: 0 auto 3%;
    width: 90%;
    height: 87%;
    border-collapse: collapse;
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
}

.bus-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;;
}

.bus-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.bus-table tbody tr:nth-of-type(even) {
    background-color: #e7e6e6;
}
.bus-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.bus-table tbody tr:last-of-type {
    border-bottom: 4px solid #327fa8;
}

.bus-table tbody tr:hover {
    background-color: #c3ccd3;
}

.bus-table th,
.bus-table td {
    padding: 0.6% 2%;
    width: 25%;
}

@media (orientation: portrait) {

}

@media (orientation: landscape) {
    .login-button {
        font-size: 3vh
    }
    .bus-table {
        width: 70%;
        font-size: 1em;
    }

    .weather-temperature > *{
        padding: 5% 0 0;
    }

    .weather-status > *{
        padding: 0 0 3%;
    }
}