body{
    background-color:white;
    width:100%;
    height:100%;
}
html{
    width:100%;
    height:100%;
}
td {
    text-align: center;
    padding: 0;
    font-size: 2em;
}

table {
    margin: auto;
    width: 75%;
    height: 500px;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: #ccc;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:hover {background-color: #aaa;
}

tr{
    height: 70px;
}

col{
    border-right: 3px solid black;
    width: 28%;
}

#statusCol{
       border-right:3px solid black;
       width: 36%;
}

th{
    border-collapse: collapse;
    font-size: 2.5em;
    background-color:steelblue;
    border-bottom: 3px solid black;
    font-family: 'Comfortaa', cursive;}

#buttons{
    width:75%;
    height:5%;
    position: relative;
    left: 12.5%;
    margin: 1% 0;
}

button{
    border: none;
    width: 7.5%;
    height: 100%;
    
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input, select {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: center;
    text-align-last: center;
}

input{
    font-size:1.5em;

}

select{
    font-size: 1em;
}


.deleteBus {
    padding-left: 10px;
    padding-right: 10px;
}
textarea{
    position: relative;
    left: 12.5%;
    background-color: #dddddd;;
    margin-top: 1%;
    width: 75%;
}

textarea:focus{
    background-color: #aaa; 
}

#weatherDiv{
    position:relative;
    left: 12.5%; 
    /* margin-top: 1%; */
}

#weather {
    border: 2px solid;
}

#contactInfo {
    font-size: 20px;
    margin-top: 10px;
}