* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #a1b5be;
}

/* Login Button */
.header {
    display: grid;
    grid-template-columns: 9fr 16fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding: 3% 3.2%;
    height: 5.5%;
}

.weather-container {
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: rgb(208, 207, 188);
    border: rgb(208, 207, 188);;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-family: 'Montserrat', sans-serif;
    height: 10vh;
}

.weather-container * {
    margin: 0;
}

.weather-temperature {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 2.4vh;
}

.weather-temperature > * {
    padding: 5% 0 0;
}

.weather-status {
    grid-column: 1/2;
    grid-row: 2/3;  
    padding: 0 0 3%;  
    text-align: center;
    font-size: 1.5vh;
}

.weather-status > * {
    padding: 0 0 5%;
}

.weather-img {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
}

.weather-img > * {
    height: 100%;
}

.image-container {
    grid-row: 1/3;
    grid-column: 3/4;
}

#qr-image {
    width: 42%;
    float: right;
}

.tvGridContainer {
    margin-top: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.05fr 1fr 0 1fr 0 1fr 0.05fr;
}

.row1-8 {
    grid-column: 2/3;
}

.row9-16 {
    grid-column: 4/5;
}

.row17-24 {
    grid-column: 6/7;
}



/* Table */
.bus-table {
    margin: 0 auto 3%;
    width: 90%;
    height: 100%;
    border-collapse: collapse;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
}

.bus-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;;
}

.bus-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.bus-table tbody tr:nth-of-type(even) {
    background-color: #e7e6e6;
}
.bus-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.bus-table tbody tr:last-of-type {
    border-bottom: 4px solid #327fa8;
}

.bus-table th {
    padding: 0.6% 2%;
}
.bus-table td {
    padding: 0.6% 2%;
}

.num-col {
    width: 42%;
    font-size: 2.4vw;
}

.heading th {
    font-size: 1.3vw;
}

.status-col {
    width: 32%;
}

.time-col {
    width: 24%;
}
.announcement {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.7vw;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#003749;
}

.announcement-table {
    margin: 0 auto 3%;
    margin-left: 6.5%;
    width: 101%;
    border-collapse: collapse;
    font-size: 0.8vw;
    font-family: 'Montserrat', sans-serif;
}

.announcement-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.announcement-table tbody tr {
    border-bottom: 2px solid #dddddd;
    height: 5vh;
}

#announcement-table tbody tr {
    background-color: #ffffff;
}