body{
    background-color:white;
    position: relative;
}
html{
    width:100%;
    height:100%;
}
td {
    text-align: center;
    padding: 0;
    font-size: 2em;
}

table {
    /* margin: auto; */
    width: 75%;
    /* height: 500px; */
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: #ccc;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

tr{
    height: 7vh;
}

col{
    border-right: 3px solid black;
    width: 25%;
}

#statusCol{
       border-right:3px solid black;
       width: 38%;
}

th{
    border-collapse: collapse;
    font-size: 2.5em;
    background-color:steelblue;
    border-bottom: 2.5px solid black;
    font-family: 'Verdana', cursive;
    height: 10vh;
}


input, select {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: center;
    text-align-last: center;
}

input{
    font-size:1.5em;

}

select{
    font-size: 1em;
}

#login{
    width:10%;
    height: 50%;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login>a{
    width: 80%;
    height: 80%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    color: white;

}

#weather{
   
    width:90%;
    background-color: #fff;

}
#flexContainer{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#header{
    display: flex;
    width:75%;
    flex-direction: row;
    align-items:center;
}

@media screen and (max-device-width: 500px) {
    tr{
        height: 15vh;
    }
    td{
        font-size: 3em;
    }
    table{
        width:100%;
        margin: 0;
    }
    #header{
        width:100%;
    }
    #weather{
        width:100%;
        font-size: 2em;
    }
}

#contactInfo {
    font-size: 1.5em;
    margin: 30px 30px 30px 30px;
    text-align: center;
}