body {
    background-color: #a1b5be;
}

.back-button-div {
    display: grid;
}

.back-button {
    justify-self: right;
    margin: 1% 1%;
    text-align: center;
}

.options-div {
    display: flex;  
    justify-content: center;
    gap: 6%;
    margin: 1% 1%;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-decoration: none;
    font-size: 3vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 1.3%;
    width: 18%;
    cursor: pointer; 
}

/* Table */
.whitelist-table {
    margin: 0 auto 3%;
    width: 90%;
    border-collapse: collapse;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
}

.whitelist-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.whitelist-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.whitelist-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.whitelist-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.whitelist-table tbody tr:last-of-type {
    border-bottom: 2px solid #327fa8;
}

.whitelist-table tbody tr:hover {
    background-color: #c3ccd3;
}

.whitelist-table th,
.whitelist-table td {
    height: 1px;
    padding: 1.8% 2%;
    width: 50%;
}

.whitelist-table .remove-button, .cancel-button, .confirm-button {
    padding: 5% 8%;
    border-radius: 5px;
}

.whitelist-table .add-button {
    border-radius: 5px;
}

.whitelist-table .table-button:hover{
    background-color: #55a6d1;
}

.whitelist-table .change-col {
    text-align: center;
}



.whitelist-table input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: left;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
}

.new-table-button {
    text-align: center;
}

.new-bus-input-cell {
    padding: 0 !important;
}

@media (orientation: landscape) {
    .button {
        font-size: 2vw;
    }

    .whitelist-table {
        font-size: 2vw;
    }

    .whitelist-table input {
        font-size: 2vw;
    }

    .whitelist-table .email-col {
        width: 92%;
    }
}   