body {
    background-color: #a1b5be;
}

.back-button-div {
    display: grid;
}

.back-button {
    justify-self: right;
    margin: 1% 1%;
    text-align: center;
}

.options-div {
    display: flex;  
    justify-content: center;
    gap: 6%;
    margin: 1% 1%;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-decoration: none;
    font-size: 3vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 1.3%;
    width: 18%;
    cursor: pointer; 
}

/* Table */
.buslist-table {
    margin: 0 auto 3%;
    width: 40%;
    border-collapse: collapse;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
}

.buslist-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.buslist-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.buslist-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.buslist-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.buslist-table tbody tr:last-of-type {
    border-bottom: 2px solid #327fa8;
}

.buslist-table tbody tr:hover {
    background-color: #c3ccd3;
}

.buslist-table th,
.buslist-table td {
    height: 1px;
    padding: 1.8% 8%;
    width: 50%;
}

.buslist-table .remove-button, .cancel-button, .confirm-button {
    padding: 5% 8%;
    border-radius: 5px;
}

.buslist-table .add-bus-button {
    padding: 4% 40%;
    border-radius: 5px;
}

.buslist-table .table-button:hover{
    background-color: #55a6d1;
}

.buslist-table .remove-col, .add-bus-cell {
    text-align: center;
}

.buslist-table input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: center;
    text-align-last: center;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}

.new-bus-buttons {
    text-align: center;
}

.new-bus-input-cell {
    padding: 0 !important;
}

@media (orientation: landscape) {
    .button {
        font-size: 2vw;
    }

    .buslist-table {
        font-size: 2vw;
    }

    .buslist-table input {
        font-size: 2vw;
    }
}   