body {
    background-color: #a1b5be;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
  }

 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #ffffff;
}